.nav__cont{
 display: flex;
 justify-content: space-between;
 padding: 1.5rem;
 background-color: #232D44;
 color: white;
 align-items: center;
}
.nav__route-cont{
 display: flex;
 gap: 0.8rem;
}
.button__transparent{
 padding: 1rem;
 background: none;
 border: none;
 color: white;
 border: 1px solid white;
 border-radius: 4px;
}