.nav__cont{
 display: flex;
 justify-content: space-between;
 padding: 1.5rem;
 background-color: #232D44;
 color: white;
 align-items: center;
 position: fixed;
 width: 100%;
}
.nav__route-cont{
 display: flex;
 gap: 0.8rem;
}
.button__transparent{
 padding: 0.6rem;
 background: none;
 border: none;
 color: white;
 border: 1px solid white;
 border-radius: 4px;
}
.button__opaque{
 padding: 0.6rem;
 background: #232D44;
 border: none;
 color: white;
 border-radius: 4px;
}
.button__white{
  padding: 0.6rem;
 background: white;
 border: none;
 color: #232D44;
 border-radius: 4px;

}

/* for the header component */
.header__cont{
 background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/bigscreen2.png') no-repeat center center fixed;
 object-fit: contain;
 height: 30rem;
 color: white;
 display: flex;
 flex-direction: column;
 gap: 2rem;
 padding: 7rem 0 0 4rem;
 overflow: hidden;
 background-size: cover;
}
.header__title{
 width: 27rem;
}
.button__cont{
 display: flex;
 gap: 0.4rem;
}
.ourClients__logos{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 gap: 3rem;
}
.ourClients__text{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 1rem;
}
.ourClients__cont{
 display: flex;
 flex-direction: column;
 gap: 3rem;
 padding: 4rem;
}
.expertise__cont{
 background: linear-gradient(180deg, #CF3E55 0%, #131825 76.69%);
 color: white;
 padding: 4rem;
}
.expertise__card{
 display: flex;
 flex-direction: column;
 gap: 2rem;
 flex: 0.25;
 justify-content: center;
 align-items: flex-start;
}
.expertise__card-cont{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
 align-items: center;
 margin-top: 3rem;
}